.navbar {
    background-color: rgb(0, 0, 0);
     width: 100%;
    /*margin: 0 auto;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    position: sticky;
    /*position: fixed;*/
    top: 0;
    z-index: 100;
    padding: 16px;

}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 0.1s linear;
    height: 12rem;
}

.nav-container.cont-sticky {
    height: 8rem !important;
}

.navbar-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10rem;

}

.nav-logo img {
    text-decoration: none;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}

.nav-logo p {
    color:rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 400;

}

.nav-links {
    font-size: 1.8rem;
    text-transform: uppercase;
    display: flex;
    gap: 2.5rem;
    margin-right: 30px;
    align-items: center;
    list-style: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.nav-links i {
    cursor: pointer;
}

.nav-links Link{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.navLinksListItem {
    margin: 1rem;
    cursor: pointer;
}

.navLinksListItem:hover {
    color: rgb(255, 255, 255);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.active {
    color: rgb(255, 255, 255) ;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(255, 255, 255);
}



.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
    color: white;
    cursor: pointer;
}

.nav-login-cart ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-icon:not(:last-child) {
   margin: 0 0.5rem 0 0 ;
}

.header-icon-cross {
    cursor: pointer;
    position: absolute;
    left: 33rem;
    top: 3rem;
}

.nav-login-cart svg {
    width: 2rem;
    fill: rgb(255, 255, 255);
}



.navMenu {
    position: absolute;
    top: 5.5rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: #29324d;
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: black;
}

.hamburger-menu {
    display: none;
    gap: 3rem;
    color: white;

}

.hamburger-hamb,
.hamburger-cart {
    font-size: 2.3rem;
    display: none;
    cursor: pointer;
}

.mobile-nav-full {
    /*font-size: 2.3rem;*/
    /*position: absolute;*/
    /*right: 25px;*/
    /*top: 49px;*/
    /*cursor: pointer;*/
    background-color: #F3F3F3;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile-links {
    font-size: 3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    top: 44%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}

.mobile-links a {
    color: black;
    background: rgb(243,243,243);
    text-decoration: none;
}

.mobile-links a:hover {
    text-decoration: underline;
}

.cart-title-btn {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-title-btn img {
    font-size: 2.5rem;
    cursor: pointer;
}

/* cart */

.cart-div {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    padding: 3rem 2.5rem 1.5rem 2.5rem;
    background-color: white;
    height: 100vh;
    width: 50rem;
    transition: all 0.4s ease;
}

.page-overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    z-index: 888;
    transition: all 0.3s ease-in;
}

.open-flex {
    display: flex !important;
}

.closed-flex {
    display: none !important;
}


.cart-body {
    height: 100vh;
    padding: 0.5rem;
}


.empty-cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20rem;
    margin: 15rem auto;
}

.empty-cart img {
    margin-left: 6rem;
    height: 12rem;
    width: 12rem;

}

.empty-cart p {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5rem;
}

.empty-cart button {
    cursor: pointer;
    font-size: 1.7rem;
    height: 4.4rem;
    margin-top: 3rem;
    width: 100%;
}

.closed-cart {
    right: -100%;
}

.open-cart {
    right: 0;
}




@media (max-width:600px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: flex;

    }

    .hamburger-menu ul {
        list-style: none;
    }

    .hamburger-cart,
    .hamburger-hamb {
        display: flex;
    }

    .cart-div {
        width: 100%;
        height: 100%;
    }
    .cart-title-btn h2 {
   font-size: 2rem;
    }

    .cart-title-btn span {
        margin-right: 5rem;
    }

}
