.navbar {
    background-color: rgb(0, 0, 0);
     width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 16px;

}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 0.1s linear;
    height: 8rem;


}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10rem;

}

.nav-logo img {
    text-decoration: none;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}

.nav-logo p {
    color:rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 400;

}

.nav-links {
    font-size: 1.8rem;
    text-transform: uppercase;
    display: flex;
    gap: 2.5rem;
   margin-right: 30px;
    align-items: center;
    list-style: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.nav-links i {
    cursor: pointer;
}

.nav-links Link{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.navLinksListItem {
    margin: 1rem;
    cursor: pointer;
}

.navLinksListItem:hover {
    color: rgb(255, 255, 255);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.active {
    color: rgb(255, 255, 255) ;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(255, 255, 255);
}



.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
    color: white;
    cursor: pointer;
}

.nav-login-cart ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-icon:not(:last-child) {
   margin: 0 0.5rem 0 0 ;
}


.nav-login-cart svg {
    width: 2rem;
    fill: rgb(255, 255, 255);
}



.navMenu {
    position: absolute;
    top: 5.5rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: #29324d;
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: black;
}

.hamburger-menu {
    display: none;
    gap: 3rem;
    color: white;

}

.hamburger-hamb,
.hamburger-cart {
    font-size: 2.3rem;
    display: none;
    cursor: pointer;
}

.cart-title-btn {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-title-btn img {
    font-size: 2.5rem;
    cursor: pointer;
}

.open-cart {
    right: 0;
}


@media (max-width:600px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: flex;

    }

    .hamburger-menu ul {
        list-style: none;
    }

    .hamburger-cart,
    .hamburger-hamb {
        display: flex;
    }

}
