* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


html {
  font-size: 62.5%;
}
body {
  font-family: 'Lora', sans-serif;
  position: relative;

}
/* global */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 19px;
}

