.banner-container {
    display: flex;
    /*justify-content: space-between;*/

}

.banner-container-reverse {
    display: flex;
    /*justify-content: space-between;*/
    /*height: 36rem;*/
    /*overflow: hidden;*/
    flex-direction: row-reverse;
}

.banner {
    padding-bottom: 10rem;
}

.text-side {
    /*width: 50%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 120px;
    background-color: #E9E9E9;

}

.text-side h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.text-side p {
    font-size: 1.8rem;
}

.img-side {
    width: 50%;
    /*max-height: 400px;*/
    overflow: hidden;
    /*text-align: end;*/
    /*background-color: #E9E9E9;*/
}


.bannerImg {
    width: 100%;
    object-fit: contain;
}
/*.img-side img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/

/*}*/

.text button {
    background-color: black;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.15s;
}

.text button:hover {
    background-color: transparent;
    color: black;
}
/*@media (max-width: 1200px) {*/
/*    .banner-container {*/
/*        display: block;*/
/*        width: 100%;*/
/*    }*/
/*    .text-side {*/
/*        width: 100%;*/
/*    }*/
/*}*/
@media only screen and (max-width: 960px) {
    .text-side h2 {
        font-size: 2.2rem;
    }
    .text-side p {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width: 870px) {
    .banner-container,
    .banner-container-reverse {
        flex-direction: column;
        align-items: center;
    }
    .text-side {
        padding: 30px;
        width: 90%;
    }
    .img-side {
       width: 90%;
    }

}

@media only screen and (max-width: 670px){
    .banner-container,
    .banner-container-reverse {
        flex-direction: column;
        align-items: center;
    }
       .text-side {
           width: 90%;
       }
    .img-side {
        width: 90%;
    }
}

/*@media (max-width: 750px) {*/
/*    .banner-container {*/
/*        display: block;*/
/*        max-width: 80rem;*/
/*    }*/
/*    .text-side {*/
/*        padding: 0 4rem;*/
/*    }*/
/*}*/

/*@media (max-width: 600px) {*/
/*    .text-side {*/
/*        width: 100%;*/
/*    }*/
    /*.img-side {*/
    /*    height: 30rem;*/
    /*}*/
/*}*/